language: java
jdk:
  - openjdk17
services:
  - docker
install:
  - ./gradlew assemble
  - true
deploy:
  provider: script
  script:
    - ( echo "$HEROKU_EMAIL" echo "$HEROKU_PASSWORD" ) | heroku container:login
    - heroku container:push -a mefitbackend-ajlm-test web
  on:
    branch: travisci