language: java
jdk:
  - openjdk17
services:
  - docker
install:
  - ./gradlew assemble
script:
  - echo $env.HEROKU_EMAIL echo $env.HEROKU_PASSWORD | heroku container:login
  - heroku container:push -a mefitbackend-ajlm-test web
  - heroku container:release -a mefitbackend-ajlm-test web